.about{
    padding-bottom: 48px;
    height: 85vh;

}

.about-top{
    
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px ;
}

.picture{
    display: flex;
    width: 100%;
    margin: 6rem 0px 3rem 0px;
    
}

.about-info{
    font-size: 24px;
    text-align: center;
}

.info-name{
    color: blue;
    font-size: 32px;
}

@media only screen and (max-width: 720px){
    .about-top{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        height: 50vh;
    }

    .picture{
        width: 100%;
        height: 20vh;
        margin-top: 0rem;
    }

    .about-info{
        font-size: 20px;
        
    }

    .info-name{
        font-size: 26px;
    }
}